/* google-fonts popping */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,500&display=swap');

:root{
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, .18);
  --color-primary-variant: #111e88;
  --color-darc-variant: #677483;
  --color-bg: #f6f6f9;

  --card-border-radius: 2rem;
  --boder-radius-1: 0.4rem;
  --boder-radius-1: 0.8rem;
  --boder-radius-1: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  font-size: 14px;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-bg);
  color: var(--color-dark);
  user-select: none;
  overflow-x: hidden;
}

a{
  color: var(--color-dark);
}

img{
  display: block;
  width: 100%;
}

h1{
  font-weight: 800;
  font-size: 1.8rem;
}

h2{
  font-size: 1.4rem;
}

h3{
  font-size: 0.87rem;
}

h4{
  font-size: 0.8rem;
}

h5{
  font-size: 0.77rem;
}

small{
  font-size: 0.75rem;
}

.profile-photo{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted{
  color: var(--color-info-dark);
}

p{
  color: var(--color-darc-variant);
}

b{
  color: var(--color-dark);
}

.primary{
  color: var(--color-primary);
}

.dander{
  color: var(--color-danger);
}

.success{
  color: var(--color-success);
}

.warning{
  color: var(--color-warning);
}

.container{
  display: grid;
  gap: 1.8rem;
  grid-template-columns: 16rem auto 23rem;
  width: 96%;
  margin: 0 auto;
}

/* ======================= ASIDE =======================*/
aside{
  height: 100vh;
}

aside .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo{
  display: flex;
  gap: .8rem;
}

aside .logo h2{
  align-self: flex-end;
}

aside .logo img{
  width: 4rem;
  height: 4rem;
  filter: invert(81%) sepia(61%) saturate(5452%) hue-rotate(312deg) brightness(104%) contrast(102%);
}

aside .close{
  display: none;
}

/* ======================= SIDEBAR =======================*/
aside .sidebar{
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3{
  font-weight: 500;
}

aside .sidebar a{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 2rem;
  height: 3.7rem;
  position: relative;
  color: var(--color-info-dark);
  transition: all .3s ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all .3s ease;
}

aside .sidebar a:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active{
  margin-left: 0;
  color: var(--color-primary);
  background-color: var(--color-light);
}

aside .sidebar a.active::before{
  content: '';
  width: 6px;
  height: 100%;
  background-color: var(--color-primary);
} 

aside .sidebar a.active span{
  margin-left: calc(1rem - 3px);
  color: var(--color-primary);
}

aside .sidebar a:hover{
  color: var(--color-primary);
}

aside .sidebar a:hover span{
  margin-left: 1rem;
}

aside .sidebar .message-count{
  font-size: 11px;
  padding: 2px 10px;
  border-radius: var(--boder-radius-1);
  color: var(--color-white);
  background-color: var(--color-danger);
}

/* ======================= MAIN =======================*/
main{
  margin-top: 1.4rem;
}

main .date{
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem 1.6rem;
  border-radius: var(--boder-radius-1);
  background-color: var(--color-light);
}

main .date input[type="date"]{
  background: transparent;
  color: var(--color-dark);
}

main .finance{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .finance > div{
  margin-top: 1rem;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
}

main .finance > div:hover{
  box-shadow: none;
}

main .finance > div span{
  font-size: 2rem;
  padding: .5rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-white);
}

main .finance > div.income span{
  background-color: var(--color-success);
}

main .finance > div.expenses span{
  background-color: var(--color-danger);
}

main .finance > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .finance > div h3 {
  margin: 1rem 0 .6rem;
  font-size: 1rem;
}

main .finance .progress{
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .finance svg{
  width: 7rem;
  height: 7rem;
}

main .finance svg circle{
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

main .finance .sales svg circle{
  stroke-dasharray: 200;
  stroke-dashoffset: -30;
}

main .finance .expenses svg circle{
  stroke: var(--color-danger);
  stroke-dasharray: 200;
  stroke-dashoffset: 20;
}

main .finance .income svg circle{
  stroke: var(--color-success);
  stroke-dasharray: 110;
  stroke-dashoffset: 80;
}

main .finance .progress .number{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .finance small{
  display: block;
  margin-top: 1.6rem;
}

/* ======================= MAIN TABLE =======================*/
main .recent-orders{
  margin-top: 2rem;
}

main .recent-orders h2{
  margin-bottom: .8rem;
}

main .recent-orders table{
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
}

main .recent-orders table:hover{
  box-shadow: none;
}

main table tbody td{
  height: 2rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-darc-variant);
}

main table tbody tr:last-child td{
  border-bottom: none;
}

main .recent-orders a{
  display: block;
  margin: 1rem auto;
  text-align: center;
  color: var(--color-primary);
}

/* ======================= RIGHT AREA =======================*/
.right{
  margin-top: 1.4rem;
}

.right .top{
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right .top button{
  display: none;
}

.right img{
  filter: invert(21%) sepia(26%) saturate(432%) hue-rotate(192deg) brightness(89%) contrast(91%);
}

.right .theme{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.3rem;
  border-radius: var(--boder-radius-1);
  background-color: var(--color-light);
  cursor: pointer;
}

.right .theme span{
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme span.active{
  border-radius: var(--boder-radius-1);
  background-color: var(--color-primary);
  color: var(--color-white);
}

.right .top .profile{
  display: flex;
  gap: 2rem;
  text-align: right;
}

.right .recent-updates{
  margin-top: 1rem;
}

.right .recent-updates h2{
  margin-bottom: .8rem;
}

.right .recent-updates .updates{
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
}

.right .recent-updates .updates:hover{
  box-shadow: none;
}

.right .recent-updates .updates .update{
  display: grid;
  grid-template-columns: 2.7rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ======================= RIGHT AREA ANALITICS =======================*/
.right .sales-analitic{
  margin-top: 2rem;
}

.right .sales-analitic h2{
  margin-bottom: .8rem;
}

.right .sales-analitic .item{
  display: flex;
  align-items:center;
  gap: 1rem;
  margin-bottom: .7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--boder-radius-1);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
}

.right .sales-analitic .item:hover{
  box-shadow: none;
}

.right .sales-analitic .item .right{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}

.right .sales-analitic .item .icon{
  padding: .6rem;
  display: flex;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.right .sales-analitic .item.offline .icon {
  background-color: var(--color-danger);
}

.right .sales-analitic .item.customers .icon {
  background-color: var(--color-success);
}

.right .sales-analitic .add-products {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.right .sales-analitic .add-products div{
  display: flex;
  align-items: center;
  gap: .7rem;
}